USE [FikrGroupDB]
GO
/****** Object:  Schema [FikrGroup]    Script Date: 11/6/2021 5:34:50 PM ******/
CREATE SCHEMA [FikrGroup]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_About] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdvertismentTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvertismentTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[height] [nvarchar](50) NULL,
	[width] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdvertismentTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_ConsultantTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactsTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_IndexTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobsTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LayoutTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayoutTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Layout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_News_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[AndroidLink] [nvarchar](max) NULL,
	[IosLink] [nvarchar](max) NULL,
	[TypeId] [int] NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeTB]    Script Date: 11/6/2021 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutTB] ON 

INSERT [dbo].[AboutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (2, N'Fields', 2, N'Creative Web Design', N'رسالتنا', N'FikrGroup maintains a strong belief that first impressions can make or break the performance of a business online.', N'لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

', NULL, N'fa-envelope', NULL)
INSERT [dbo].[AboutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (3, N'Fields', 2, NULL, N'هدفنا', NULL, N'لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

', NULL, N'fa-bullseye', NULL)
SET IDENTITY_INSERT [dbo].[AboutTB] OFF
GO
SET IDENTITY_INSERT [dbo].[AdvertismentTB] ON 

INSERT [dbo].[AdvertismentTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [height], [width]) VALUES (1, N'Adv', 1, NULL, NULL, NULL, NULL, N'/assets/images/1.png', NULL, NULL, NULL, N'100', N'300')
INSERT [dbo].[AdvertismentTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [height], [width]) VALUES (2, N'Adv', 1, NULL, NULL, NULL, NULL, N'/assets/images/2.png', NULL, NULL, NULL, N'250', N'300')
INSERT [dbo].[AdvertismentTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [height], [width]) VALUES (3, N'Adv', 1, NULL, NULL, NULL, NULL, N'/assets/images/1.png', NULL, NULL, NULL, N'100', N'300')
SET IDENTITY_INSERT [dbo].[AdvertismentTB] OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7a91a1fa-0e9d-4b2b-8fd7-c041e420581b', N'admin', 0, N'ANJkFVyDwlxqzBheegR/gFf7FF4ywcVOb1TJn4h8w9FWyC8zlHcxk7u9fNuvmA4PEQ==', N'91380b80-ec42-403f-9a07-209ec7226552', NULL, 0, 0, NULL, 1, 0, N'admin')
GO
SET IDENTITY_INSERT [dbo].[ConsultantTB] ON 

INSERT [dbo].[ConsultantTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (1, N'cosultant', 1, NULL, N'عنوان الصورة', NULL, N'هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة , هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة .
', N'/images/news.jpg', NULL, NULL, NULL)
INSERT [dbo].[ConsultantTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (2, N'cosultant', 1, NULL, N'عنوان الصورة', NULL, N'هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة , هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة .
', N'/images/news.jpg', NULL, NULL, NULL)
INSERT [dbo].[ConsultantTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (3, N'cosultant', 1, NULL, N'عنوان الصورة', NULL, N'هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة , هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة .
', N'/images/news.jpg', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ConsultantTB] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactsTB] ON 

INSERT [dbo].[ContactsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (1, N'ContactMail', 1, NULL, N'info@fikrgroup.com', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ContactsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (2, N'Contact Address', 2, NULL, N'الكويت -حولي - شارع بن خلدون - مجمع الصامتة - الدور الاول - مكتب رقم 3
', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ContactsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (3, N'Contact Phones', 3, NULL, N'(965) 60400273', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactsTB] OFF
GO
SET IDENTITY_INSERT [dbo].[IndexTB] ON 

INSERT [dbo].[IndexTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (14, N'Slider', 1, N'Creative Web Design', N'Creative Web Design', N'FikrGroup maintains a strong belief that first impressions can make or break the performance of a business online.', N'<div>أفضل تصميم وأرقى مواقع التسوق التصاميم الإلكترونية الحديثة</div><div><br></div>', N'/images/slider/1280x960.jpg', NULL, NULL)
INSERT [dbo].[IndexTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (15, N'Slider', 1, N'Mobile Apps Development', N'Mobile Apps Development', N'We design and develop your apps using our expertise in mobile platforms development, following the international industry standards with our UX/UI creativity.', N'<div>أفضل تصميم وأرقى مواقع التسوق التصاميم الإلكترونية الحديثة</div><div><br></div>', N'/images/slider/1280x960.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[IndexTB] OFF
GO
SET IDENTITY_INSERT [dbo].[JobsTB] ON 

INSERT [dbo].[JobsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (1, N'Careers', 1, N'Jops', N'اسم الشخص', N'Medical Sales Manager Product Manager in Medical Technology Marketing Manager in the Medical Field Warehouse Officer in Medical Technology with a focus on inventory control and sales assistant in medical technology', N'<br>', N'/images/2.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[JobsTB] OFF
GO
SET IDENTITY_INSERT [dbo].[LayoutTB] ON 

INSERT [dbo].[LayoutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Mobile], [Phone]) VALUES (2, N'facebook', 1, NULL, NULL, NULL, NULL, NULL, N'fa-facebook', N'https://www.facebook.com/fikrgroup.is', NULL, NULL)
INSERT [dbo].[LayoutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Mobile], [Phone]) VALUES (3, N'Twitter', 1, NULL, NULL, NULL, NULL, NULL, N'fa-twitter', N'https://twitter.com/FikrGroup_is', NULL, NULL)
INSERT [dbo].[LayoutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Mobile], [Phone]) VALUES (4, N'linkedin', 1, NULL, NULL, NULL, NULL, NULL, N'fa-linkedin', N'https://www.linkedin.com/in/fikrgroup-430372124', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LayoutTB] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsTB] ON 

SET IDENTITY_INSERT [dbo].[NewsTB] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductsTB] ON 

INSERT [dbo].[ProductsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [AndroidLink], [IosLink], [TypeId]) VALUES (2, N'Products', 1, N'Make A Difference', N'Make A Difference', N'Make A Difference', N'Make A Difference', N'/images/news.jpg', NULL, N'http://www.mad-kw.com', NULL, NULL, NULL, 1)
INSERT [dbo].[ProductsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [AndroidLink], [IosLink], [TypeId]) VALUES (3, N'Products', 1, N'Al Rayan Clinic', N'Al Rayan Clinic', N'Al Rayan Clinic', N'Al Rayan Clinic', N'/images/news.jpg', NULL, N'http://www.alrayanclinic.com', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductsTB] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (2, N'Services', 1, N'Year''s of Experience', N'عدد سنوات الخبرة', NULL, NULL, N'/assets/images/team/2.jpg', N'2', NULL)
INSERT [dbo].[Services] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (3, N'Services', 1, N'Delivered projects', N'المشاريع المستلمة', NULL, NULL, N'/assets/images/team/2.jpg', N'35', NULL)
INSERT [dbo].[Services] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (8, N'Services', 1, N'Talented staff', N'الموظفين الموهوبين', NULL, NULL, N'/assets/images/team/2.jpg', N'25', NULL)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeTB] ON 

INSERT [dbo].[TypeTB] ([Id], [Type]) VALUES (1, N'Web Design')
INSERT [dbo].[TypeTB] ([Id], [Type]) VALUES (2, N'Web Develope')
INSERT [dbo].[TypeTB] ([Id], [Type]) VALUES (3, N'Logo Design')
SET IDENTITY_INSERT [dbo].[TypeTB] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ProductsTB]  WITH CHECK ADD  CONSTRAINT [FK_ProductsTB_TypeTB] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTB] ([Id])
GO
ALTER TABLE [dbo].[ProductsTB] CHECK CONSTRAINT [FK_ProductsTB_TypeTB]
GO
